<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>431158899380-juq25udgcvt2nrongd3a6d7ah7l2p9qi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431158899380-juq25udgcvt2nrongd3a6d7ah7l2p9qi</string>
	<key>API_KEY</key>
	<string>AIzaSyB1MFb9xiffTNDvzr_fWMrkHaxvElIWYfU</string>
	<key>GCM_SENDER_ID</key>
	<string>431158899380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Hiro-333.Problemsolving</string>
	<key>PROJECT_ID</key>
	<string>toilet-data</string>
	<key>STORAGE_BUCKET</key>
	<string>toilet-data.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:431158899380:ios:f87595d73ac5d3f0</string>
	<key>DATABASE_URL</key>
	<string>https://toilet-data.firebaseio.com</string>
</dict>
</plist>